@import "tailwindcss";

body{
    background-color:aliceblue;
}
*{
    font-family: "Inter", serif; 
}
button{
  outline: 0px ;
}
@layer utilities {
    .text-stroke {
      -webkit-text-stroke: 2px black; 
      color: transparent; 
    }
  }